/* QUIZ CUSTOM */
p:has(> #mark-scheme) {
	margin-top: 35px;
	margin-bottom: 5px
}

.quiz-border-left {
	border-left: 2px solid #ebeff2 !important;
}

.quiz-left-padding {
	padding-left: 2rem !important;
}

@media (max-width: 767px) {
	.quiz-border-left {
		border-left: none !important;
	}

	.quiz-left-padding {
		padding-left: 0rem !important;
	}
}

.student-formatted-answer {
	display: block;
	width: 100%;
	height: calc(1.5em + 1rem + 2px);
	padding: .5rem .75rem;
	font-weight: 400;
	line-height: 1.5;
	color: #000000;
	background-color: white;
	background-clip: padding-box;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#solution-text-container ul li {
	padding: 2px 0px;
	margin-bottom: 5px;
}

.alert-info-outline {
	border: 2px solid #ff9800 !important;
}

/* FONT SIZE ADJUSTING */
#question-text,
#question-subtext,
#solution-text-container p,
#solution-text-container span,
#solution-text-container ul li,
#submitted-student-method-container p,
#method-marks-available-container,
#student-answer-marked,
.student-formatted-answer {
	font-size: 1.1rem !important;
}

.student-formatted-answer {
	font-size: 1rem;
}

/* START CHECKBOXES */
.custom-checkboxes .active-checkbox input[type="checkbox"],
.custom-checkboxes .neutral-checkbox input[type="checkbox"],
.custom-checkboxes .wrong-cross input[type="checkbox"],
.custom-checkboxes .missed-dash input[type="checkbox"],
.custom-checkboxes .correct-check input[type="checkbox"] {
	display: none;
}

.custom-checkboxes .active-checkbox span,
.custom-checkboxes .neutral-checkbox span,
.custom-checkboxes .wrong-cross span,
.custom-checkboxes .missed-dash span,
.custom-checkboxes .correct-check span {
	display: inline-block;
	border-radius: 6px;
	width: 25px;
	height: 25px;
	background: #e4e4e4;
	vertical-align: middle;
	margin: 3px;
	margin-right: 10px;
	position: relative;
	transition: width 0.1s, height 0.1s, margin 0.1s;
}

.custom-checkboxes .active-checkbox :checked+span:after,
.custom-checkboxes .neutral-checkbox :checked+span:after,
.custom-checkboxes .correct-check :checked+span:after,
.custom-checkboxes .missed-dash :checked+span:after,
.custom-checkboxes .wrong-cross :checked+span:after {
	font-size: 16px;
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
}

/* Blue */
.custom-checkboxes .active-checkbox :checked+span {
	background: #2c84dd;
}

/* Green */
.custom-checkboxes .correct-check :checked+span {
	background: #28a745;
}

/* Red */
.custom-checkboxes .wrong-cross :checked+span {
	background: #dc3545;
}

/* Orange */
.custom-checkboxes .missed-dash :checked+span {
	background: #ffa807;
}

/* Tick Symbol */
.custom-checkboxes .active-checkbox :checked+span:after,
.custom-checkboxes .correct-check :checked+span:after {
	content: "\f00c";
	font-size: 12px;
	padding-top: 1px;
}

/* Cross Symbol */
.custom-checkboxes .wrong-cross :checked+span:after {
	content: "\f00d";
}

/* Dash Symbol */
.custom-checkboxes .missed-dash :checked+span:after {
	content: "\f068";
}

/* END CHECKBOXES */
/*
	Number machine
	Tree diagram
	Fillable table
	Labelled and equation input
	Mathquill
*/
/* NUMBER MACHINE */
#widget-container canvas {
	padding: 0;
	margin: auto;
	display: block;
}

/* TREE DIAGRAM */
.widget-container-light {
	--text-color: #000000;
}

.widget-container-dark {
	--text-color: #ffffff;
}

#widget-container {
	--font-size: 1rem;
	--input-width: 3.5rem;
	--input-height: 1.5rem;
}

.tree-diagram-value {
	color: var(--text-color, #000000);
	font-size: var(--font-size, 3rem);
	text-align: center;
}

input.value-input {
	font-family: Cambria, Georgia, Palatino Linotype, Bookman Old Style, serif !important;
	background-color: white;
	color: black;
	font-size: var(--font-size, 3rem) !important;
	text-align: left;
	border: 2px solid black;
	border-radius: 0;
	outline: 0;
	width: var(--input-width, 3.5rem);
	height: var(--input-height, 1.5rem);
}

#student-answer-marked {
	background-color: white;
}

/* FILLABLE TABLE */
.fillable-table-container-light {
	--table-border: black;
	--input-background: white;
	--table-text-color: #000000;
	--input-border-color: #000000;
}

.fillable-table-container-dark {
	--table-border: white;
	--input-background: #1d2126;
	--table-text-color: #ffffff;
	--input-border-color: #ffffff;
}

#fillable-table-container {
	overflow-x: auto;
}

.fillable-table {
	border: 1px solid #000000;
	border-collapse: collapse;
	text-align: left;
}

.ft-header {
	padding: 0.25rem 0.5rem;
	border: 1px solid #000000;
	color: var(--table-text-color, #000000);
	font-size: 1.1rem;
	font-family: Oswald, "Helvetica Neue", Arial, sans-serif;
	font-weight: 500;
}

.ft-cell {
	padding: 0.25rem 0.5rem;
	border: 1px solid #000000;
	color: var(--table-text-color, #000000);
	font-weight: normal;
	font-size: 1rem;
	font-family: Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol";
}

.ft-input-cell {
	border: 1px solid #000000;
	padding: 0.25rem 0.25rem;
}

.ft-input-cell>.ft-input {
	background-color: var(--input-background, #ffffff);
	color: var(--table-text-color, #000000);
	border-top: 0;
	border-right: 0;
	border-left: 0;
	border-bottom: 1px dashed var(--input-border-color, #000000);
	border-radius: 0;
	outline: 0;
	width: clamp(4rem, 6vw, 6rem);
	height: 100%;
	font-weight: normal;
	font-size: 1rem;
	font-family: Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol";
}

/* LABELLED AND EQUATION INPUT */
#submitted-student-method-container {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 1rem;
	padding-bottom: 0.25rem;
	background-color: var(--input-background-color, #F5F7FA);
	border: 2px solid var(--input-inner-text-color, #000000);
}

.input-section-container-light {
	--button-border: #ed0b4c;
	--button-background: #ffffff;
	--button-hover-background: #efb1b1;
	--button-text-color: #000000;
	--input-background-color: #ffffff;
	--input-inner-text-color: #000000;
	--input-label-text-color: #000000;
}

.input-section-container-dark {
	--button-border: #d8416c;
	--button-background: #3d3d3d;
	--button-hover-background: #bd7777;
	--button-text-color: #ffffff;
	--input-background-color: #ffffff;
	--input-inner-text-color: #000000;
	--input-label-text-color: #ffffff;
}

.input-button-row {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
	column-gap: 0.5rem;
	row-gap: 0.5rem;
	margin-bottom: 1.5rem;
	padding-top: 15px;
}

span.mq-editable-field {
	background-color: white;
	color: var(--input-inner-text-color, #000000);
	border-color: var(--input-inner-text-color, #000000);
	font-size: 2rem;
}

span.mq-math-mode {
	font-size: 1.6rem;
}

div.widget-equation-wrapper>span.mq-editable-field {
	border-color: transparent;
}

div.widget-equation-wrapper {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	background-color: white;
	border: 2px solid var(--input-inner-text-color, #000000);
	border-radius: 0.4rem;
}

span.widget-equation-input {
	width: 100%;
	background-color: white;
}

a.input-widget-button {
	cursor: pointer;
	background-color: var(--button-background, #ffffff);
	border: 2px solid #000000;
	color: var(--button-text-color, #000000);
	box-sizing: border-box;
	font-family: inherit;
	border-radius: 0.4rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 4rem;
}

a.input-widget-button:hover {
	background-color: var(--button-hover-background, #efb1b1);
}

a.input-widget-button.text-mode {
	background-color: rgba(0, 0, 0, 0.1);
}

div.labelled-input-row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 1.5rem;
}

div>p.labelled-input-label,
div>p.labelled-input-left-label,
div>p.labelled-input-right-label {
	font-size: 1.4rem;
	font-weight: 500;
	color: var(--input-label-text-color, #000000);
	margin-right: 0.5rem;
	margin-bottom: 0;
}

div>p.labelled-input-template-text {
	font-size: 2rem;
	font-weight: 400;
	color: var(--input-label-text-color, #000000);
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	margin-bottom: 0;
}

/*
 * MathQuill v0.10.1               http://mathquill.com
 * by Han, Jeanine, and Mary  maintainers@mathquill.com
 *
 * This Source Code Form is subject to the terms of the
 * Mozilla Public License, v. 2.0. If a copy of the MPL
 * was not distributed with this file, You can obtain
 * one at http://mozilla.org/MPL/2.0/.
 */
@font-face {
	font-family: Symbola;
	src: url(../../fonts/mathquill/Symbola.eot);
	src: local("Symbola Regular"), local("Symbola"),
		url(../../fonts/mathquill/Symbola.woff2) format("woff2"),
		url(../../fonts/mathquill/Symbola.woff) format("woff"),
		url(../../fonts/mathquill/Symbola.ttf) format("truetype"),
		url(../../fonts/mathquill/Symbola.otf) format("opentype"),
		url(../../fonts/mathquill/Symbola.svg#Symbola) format("svg");
}

.mq-editable-field {
	display: -moz-inline-box;
	display: inline-block;
}

.mq-editable-field .mq-cursor {
	border-left: 1px solid black;
	margin-left: -1px;
	position: relative;
	z-index: 1;
	padding: 0;
	display: -moz-inline-box;
	display: inline-block;
}

.mq-editable-field .mq-cursor.mq-blink {
	visibility: hidden;
}

.mq-editable-field,
.mq-math-mode .mq-editable-field {
	border: 2px solid black;
	border-radius: 0.3rem;
}

/* .mq-editable-field.mq-focused,
.mq-math-mode .mq-editable-field.mq-focused {
  -webkit-box-shadow: #8bd 0 0 1px 2px, inset #6ae 0 0 2px 0;
  -moz-box-shadow: #8bd 0 0 1px 2px, inset #6ae 0 0 2px 0;
  box-shadow: #8bd 0 0 1px 2px, inset #6ae 0 0 2px 0;
  border-color: #709AC0;
  border-radius: 1px;
} */
.mq-math-mode .mq-editable-field {
	margin: 1px;
}

.mq-editable-field .mq-latex-command-input {
	color: inherit;
	font-family: "Courier New", monospace;
	border: 1px solid gray;
	padding-right: 1px;
	margin-right: 1px;
	margin-left: 2px;
}

.mq-editable-field .mq-latex-command-input.mq-empty {
	background: white;
}

.mq-editable-field .mq-latex-command-input.mq-hasCursor {
	border-color: ActiveBorder;
}

.mq-editable-field.mq-empty:after,
.mq-editable-field.mq-text-mode:after,
.mq-math-mode .mq-empty:after {
	visibility: hidden;
	content: "c";
}

.mq-editable-field .mq-cursor:only-child:after,
.mq-editable-field .mq-textarea+.mq-cursor:last-child:after {
	visibility: hidden;
	content: "c";
}

.mq-editable-field .mq-text-mode .mq-cursor:only-child:after {
	content: "";
}

.mq-editable-field.mq-text-mode {
	overflow-x: auto;
	overflow-y: hidden;
}

.mq-root-block,
.mq-math-mode .mq-root-block {
	display: -moz-inline-box;
	display: inline-block;
	width: 100%;
	padding: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	white-space: nowrap;
	overflow: hidden;
	vertical-align: middle;
}

.mq-math-mode {
	font-variant: normal;
	font-weight: normal;
	font-style: normal;
	font-size: 115%;
	line-height: 1;
	display: -moz-inline-box;
	display: inline-block;
}

.mq-math-mode .mq-non-leaf,
.mq-math-mode .mq-scaled {
	display: -moz-inline-box;
	display: inline-block;
}

.mq-math-mode var,
.mq-math-mode .mq-text-mode,
.mq-math-mode .mq-nonSymbola {
	font-family: "Times New Roman", Symbola, serif;
	line-height: 0.9;
}

.mq-math-mode * {
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	padding: 0;
	border-color: black;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	box-sizing: border-box;
}

.mq-math-mode .mq-empty {
	background: #ccc;
}

.mq-math-mode .mq-empty.mq-root-block {
	background: white;
}

.mq-math-mode.mq-empty {
	background: white;
}

.mq-math-mode .mq-text-mode {
	font-size: 87%;
}

.mq-math-mode .mq-font {
	font: 1em "Times New Roman", Symbola, serif;
}

.mq-math-mode .mq-font * {
	font-family: inherit;
	font-style: inherit;
}

.mq-math-mode b,
.mq-math-mode b.mq-font {
	font-weight: bolder;
}

.mq-math-mode var,
.mq-math-mode i,
.mq-math-mode i.mq-font {
	font-style: italic;
}

.mq-math-mode var.mq-f {
	margin-right: 0.2em;
	margin-left: 0.1em;
}

.mq-math-mode .mq-roman var.mq-f {
	margin: 0;
}

.mq-math-mode big {
	font-size: 125%;
}

.mq-math-mode .mq-roman {
	font-style: normal;
}

.mq-math-mode .mq-sans-serif {
	font-family: sans-serif, Symbola, serif;
}

.mq-math-mode .mq-monospace {
	font-family: monospace, Symbola, serif;
}

.mq-math-mode .mq-overline {
	border-top: 1px solid black;
	margin-top: 1px;
}

/* Edits */
.mq-math-mode .mq-dot {
	margin-top: 3px;
	display: inline-block;
	position: relative;
}

.mq-math-mode .mq-dot::before {
	content: ".";
	display: inline-block;
	position: absolute;
	transform: translateY(-85%);
	left: 0;
	text-align: center;
	width: 100%;
	font-size: 1.25em;
}

/* End Edits */
.mq-math-mode .mq-underline {
	border-bottom: 1px solid black;
	margin-bottom: 1px;
}

.mq-math-mode .mq-binary-operator {
	padding: 0 0.2em;
	display: -moz-inline-box;
	display: inline-block;
}

.mq-math-mode .mq-supsub {
	font-size: 90%;
	vertical-align: -0.5em;
}

.mq-math-mode .mq-supsub.mq-limit {
	font-size: 80%;
	vertical-align: -0.4em;
}

.mq-math-mode .mq-supsub.mq-sup-only {
	vertical-align: 0.5em;
}

.mq-math-mode .mq-supsub.mq-sup-only .mq-sup {
	display: inline-block;
	vertical-align: text-bottom;
}

.mq-math-mode .mq-supsub .mq-sup {
	display: block;
}

.mq-math-mode .mq-supsub .mq-sub {
	display: block;
	float: left;
}

.mq-math-mode .mq-supsub.mq-limit .mq-sub {
	margin-left: -0.25em;
}

.mq-math-mode .mq-supsub .mq-binary-operator {
	padding: 0 0.1em;
}

.mq-math-mode .mq-supsub .mq-fraction {
	font-size: 70%;
}

.mq-math-mode sup.mq-nthroot {
	font-size: 80%;
	vertical-align: 0.8em;
	margin-right: -0.6em;
	margin-left: 0.2em;
	min-width: 0.5em;
}

.mq-math-mode .mq-paren {
	padding: 0 0.1em;
	vertical-align: top;
	-webkit-transform-origin: center 0.06em;
	-moz-transform-origin: center 0.06em;
	-ms-transform-origin: center 0.06em;
	-o-transform-origin: center 0.06em;
	transform-origin: center 0.06em;
}

.mq-math-mode .mq-paren.mq-ghost {
	color: silver;
}

.mq-math-mode .mq-paren+span {
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}

.mq-math-mode .mq-array {
	vertical-align: middle;
	text-align: center;
}

.mq-math-mode .mq-array>span {
	display: block;
}

.mq-math-mode .mq-operator-name {
	font-family: Symbola, "Times New Roman", serif;
	line-height: 0.9;
	font-style: normal;
}

.mq-math-mode var.mq-operator-name.mq-first {
	padding-left: 0.2em;
}

.mq-math-mode var.mq-operator-name.mq-last {
	padding-right: 0.2em;
}

.mq-math-mode .mq-fraction {
	font-size: 90%;
	text-align: center;
	vertical-align: -0.4em;
	padding: 0 0.2em;
}

.mq-math-mode .mq-fraction,
.mq-math-mode .mq-large-operator,
.mq-math-mode x:-moz-any-link {
	display: -moz-groupbox;
}

.mq-math-mode .mq-fraction,
.mq-math-mode .mq-large-operator,
.mq-math-mode x:-moz-any-link,
.mq-math-mode x:default {
	display: inline-block;
}

.mq-math-mode .mq-numerator,
.mq-math-mode .mq-denominator {
	display: block;
}

.mq-math-mode .mq-numerator {
	padding: 0.1em;
}

.mq-math-mode .mq-denominator {
	border-top: 1px solid;
	float: right;
	width: 100%;
	padding: 0.1em;
}

/* Edit */
.labelled-input-row .mq-math-mode .mq-denominator {
	border-top: 2px solid;
	float: right;
	width: 100%;
	padding: 0.1em;
}

.mq-math-mode .mq-sqrt-prefix {
	padding-top: 0;
	position: relative;
	top: 0.11em;
	vertical-align: top;
	-webkit-transform-origin: top;
	-moz-transform-origin: top;
	-ms-transform-origin: top;
	-o-transform-origin: top;
	transform-origin: top;
}

.mq-math-mode .mq-sqrt-stem {
	border-top: 2px solid;
	margin-top: 0px;
	padding-left: 0.15em;
	padding-right: 0.2em;
	margin-right: 0.1em;
	padding-top: 4px;
}

.mq-math-mode .mq-vector-prefix {
	display: block;
	text-align: center;
	line-height: 0.25em;
	margin-bottom: -0.1em;
	font-size: 0.75em;
}

.mq-math-mode .mq-vector-stem {
	display: block;
}

.mq-math-mode .mq-large-operator {
	text-align: center;
}

.mq-math-mode .mq-large-operator .mq-from,
.mq-math-mode .mq-large-operator big,
.mq-math-mode .mq-large-operator .mq-to {
	display: block;
}

.mq-math-mode .mq-large-operator .mq-from,
.mq-math-mode .mq-large-operator .mq-to {
	font-size: 80%;
}

.mq-math-mode .mq-large-operator .mq-from {
	float: right;
	/* take out of normal flow to manipulate baseline */
	width: 100%;
}

.mq-math-mode,
.mq-math-mode .mq-editable-field {
	cursor: text;
	font-family: Symbola, "Times New Roman", serif;
}

.mq-math-mode .mq-overarrow {
	border-top: 1px solid black;
	margin-top: 1px;
	padding-top: 0.2em;
}

.mq-math-mode .mq-overarrow:before {
	display: block;
	position: relative;
	top: -0.34em;
	font-size: 0.5em;
	line-height: 0em;
	content: "\27A4";
	text-align: right;
}

.mq-math-mode .mq-overarrow.mq-arrow-left:before {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.mq-math-mode .mq-selection,
.mq-editable-field .mq-selection,
.mq-math-mode .mq-selection .mq-non-leaf,
.mq-editable-field .mq-selection .mq-non-leaf,
.mq-math-mode .mq-selection .mq-scaled,
.mq-editable-field .mq-selection .mq-scaled {
	background: #b4d5fe !important;
	background: Highlight !important;
	color: HighlightText;
	border-color: HighlightText;
}

.mq-math-mode .mq-selection .mq-matrixed,
.mq-editable-field .mq-selection .mq-matrixed {
	background: #39f !important;
}

.mq-math-mode .mq-selection .mq-matrixed-container,
.mq-editable-field .mq-selection .mq-matrixed-container {
	filter: progid:DXImageTransform.Microsoft.Chroma(color='#3399FF') !important;
}

.mq-math-mode .mq-selection.mq-blur,
.mq-editable-field .mq-selection.mq-blur,
.mq-math-mode .mq-selection.mq-blur .mq-non-leaf,
.mq-editable-field .mq-selection.mq-blur .mq-non-leaf,
.mq-math-mode .mq-selection.mq-blur .mq-scaled,
.mq-editable-field .mq-selection.mq-blur .mq-scaled,
.mq-math-mode .mq-selection.mq-blur .mq-matrixed,
.mq-editable-field .mq-selection.mq-blur .mq-matrixed {
	background: #d4d4d4 !important;
	color: black;
	border-color: black;
}

.mq-math-mode .mq-selection.mq-blur .mq-matrixed-container,
.mq-editable-field .mq-selection.mq-blur .mq-matrixed-container {
	filter: progid:DXImageTransform.Microsoft.Chroma(color='#D4D4D4') !important;
}

.mq-editable-field .mq-textarea,
.mq-math-mode .mq-textarea {
	position: relative;
	-webkit-user-select: text;
	-moz-user-select: text;
	user-select: text;
}

.mq-editable-field .mq-textarea *,
.mq-math-mode .mq-textarea *,
.mq-editable-field .mq-selectable,
.mq-math-mode .mq-selectable {
	-webkit-user-select: text;
	-moz-user-select: text;
	user-select: text;
	position: absolute;
	clip: rect(1em 1em 1em 1em);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	resize: none;
	width: 1px;
	height: 1px;
}

.mq-math-mode .mq-matrixed {
	background: white;
	display: -moz-inline-box;
	display: inline-block;
}

.mq-math-mode .mq-matrixed-container {
	filter: progid:DXImageTransform.Microsoft.Chroma(color='white');
	margin-top: -0.1em;
}

.mq-text-mode {
	background-color: rgb(231 231 231);
	padding: 0 0.5rem;
	margin: 0 0.5rem;
}

.input-button-row {
	transform: scale(1, 0);
	transform-origin: top;
	max-height: 0;
	opacity: 0;
	transition: max-height 1s ease-in-out, opacity 1s ease-in-out, transform 1s ease-in-out;
}

.expand .input-button-row {
	max-height: 500px;
	opacity: 1;
	transform: scale(1, 1);
}

#working-out-container ul {
	list-style-type: none;
	border: 2px solid black;
	border-radius: 0.4rem;
	background-color: white;
}

.your-answer-notes-container {
	border: 2px solid black !important;
	border-radius: 0.4rem !important;
	background-color: white !important;
}

div.widget-method-wrapper>span.mq-editable-field {
	border-color: transparent;
}

div.widget-method-wrapper {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

li:first-of-type:not(:only-of-type) div.widget-method-wrapper {
	border-bottom: none;
	padding-top: 0.25rem;
	padding-bottom: 0rem;
}

li:not(:first-of-type):not(:last-of-type) div.widget-method-wrapper {
	border-top: none;
	border-bottom: none;
	padding-top: 0rem;
	padding-bottom: 0rem;
}

li:last-of-type:not(:only-of-type) div.widget-method-wrapper {
	border-top: none;
	padding-top: 0rem;
	padding-bottom: 0.25rem;
}

/* Plot widgets */
.widget-button-row {
	margin-bottom: 10px;
}

.plot-widget-button {
	display: inline-block;
	font-weight: 400;
	color: black;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: white;
	padding: .5rem 1rem;
	font-size: 1rem;
	line-height: 1.5;
	border: 2px solid black;
	border-radius: .25rem !important;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.plot-widget-button:hover {
	background-color: #efb1b1;
}

/* Method Marking */
#submitted-student-method-container,
#mark-scheme-lines-container {
	background-color: white;
	padding: 10px;
	border-radius: 0.4rem;
}

#mark-scheme-lines-container p:last-child,
#submitted-student-method-container p:last-child {
	margin-bottom: 0px;
}

.method-correct {
	border: 2px solid #77c13a;
}

.method-partial {
	border: 2px solid #ff9800;
}

.method-incorrect {
	border: 2px solid #d9534f;
}

.method-black {
	border: 2px solid black;
}

.method-tick {
	font-size: 22pt;
	font-weight: bold;
	vertical-align: text-bottom !important;
}

.method-cross {
	font-size: 22pt;
	font-weight: bold;
	vertical-align: top !important;
}

.green-text {
	color: #2c9f30;
}

.orange-text {
	color: #f3a922;
}

.red-text {
	color: #f44336;
}

/* DRAG AND DROP WIDGETS (PARAGRAPH AND TABLE) */
.VW_container video {
	width: 100%;
	height: 100%;
}

.VW_container .VW_overlay.active {
	display: block !important;
}

.VW_container .VW_overlay {
	color: azure;
	display: none;
	position: relative;
	top: -102%;
	width: calc(100% - 8vw);
	height: calc(100% - 8vh);
	background: rgba(0, 0, 0, 0.3);
	padding: 4vh 4vw;
}

.VW_container .VW_overlay button {
	background: auto;
	pointer-events: all !important;
	padding: 5px;
	margin: 5px;
	border-radius: 15px;
	border: none;
	filter: drop-shadow(0 2px 0 gray);
	transition: background 0.5s ease-in-out;
}

.VW_container .VW_overlay button:hover {
	background-color: #9c9c9c;
	transition: background 0.15s ease-in-out;
}

.VW_container .VW_overlay button.selected.correct {
	background: lime;
}

.VW_container .VW_overlay button.selected.incorrect {
	background: red;
}

.VW_container .VW_overlay h3 {
	margin-top: 0px;
}

.VW_container .VW_overlay h2 {
	position: absolute;
	text-align: center;
	top: calc(40% - 4vh);
	width: calc(100% - 8vw);
	margin: 0;
}

.VW_container .VW_overlay div {
	position: absolute;
	text-align: center;
	top: calc(50% - 4vh);
	width: calc(100% - 8vw);
	margin: 0;
}

.VW_continueButton {
	bottom: 4vh;
	right: 4vw;
	position: absolute;
}

.VW_completeButton {
	bottom: 4vh;
	right: 4vw;
	position: absolute;
}

.DADTW_drop_field {
	position: relative;
	display: block;
	background-color: #d5e6f6;
	line-height: 100%;
	font-size: 16px;
	text-align: center;
	min-width: 100%;
	min-height: 24px;
	width: fit-content;
	height: 100%;
	border-radius: 3px;
	transition: opacity 0.3s ease-in-out;
}

.DADTW_drop_field:hover {
	background-color: lightskyblue;
}

.DADTW_drag_block {
	position: relative;
	display: inline-flex;
	background-color: #d5e6f6;
	line-height: 100%;
	cursor: pointer;
	height: 1rem;
	min-width: 0px;
	width: fit-content;
	height: fit-content;
	border-radius: 3px;
	padding: 5px;
	margin: 5px;
}

.DADTW_drag_block:hover {
	background-color: #abcced;
}

.DADTW_drag_block img,
td img {
	pointer-events: none;
	vertical-align: middle;
}

.DADTW_drop_field .DADTW_drag_block {
	position: relative;
	display: flex;
	background-color: #d5e6f6;
	font-size: 16px;
	text-align: center;
	min-width: 100%;
	min-height: 100%;
	width: fit-content;
	height: fit-content;
	border-radius: 3px;
	padding: 2px;
	margin: auto;
	align-items: center;
	justify-content: center;
}

.DADTW_widgetTable,
.DADTW_widgetTable tr,
.DADTW_widgetTable tr td,
.DADTW_widgetTable tr th {
	border: 1px solid black;
	text-align: center;
}

.DADTW_widgetTable {
	row-gap: 0px;
	column-gap: 0px;
	width: 100%;
}

/** Mozilla Firefox */
@-moz-document url-prefix() {

	.DADTW_widgetTable tr,
	.DADTW_widgetTable tr td,
	.DADTW_widgetTable tr th {
		height: 100% !important;
	}
}

/** Chrominum */
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
	.DADTW_widgetTable tr {
		height: 1px;
	}

	.DADTW_widgetTable tr td {
		height: inherit;
	}

	.DADTW_widgetTable tr th {
		height: 100%;
	}
}

.DADPW_paragraph {
	font-size: 18px;
	font-family: Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.DADPW_drop_field {
	position: relative;
	display: inline-flex;
	background-color: #d5e6f6;
	line-height: 100%;
	font-size: 20px;
	min-height: 25px;
	min-width: 0px;
	width: fit-content;
	height: fit-content;
	border-radius: 3px;
	margin: 0 5px;
	vertical-align: middle;
}

.DADPW_drop_field:empty {
	min-width: 100px;
}

.DADPW_drop_field:hover {
	background-color: #abcced;
}

.DADPW_drag_block {
	position: relative;
	display: inline-flex;
	background-color: #d5e6f6;
	line-height: 100%;
	transition: opacity 0.3s ease-in-out;
	cursor: pointer;
	height: 1rem;
	min-width: 0px;
	width: fit-content;
	height: fit-content;
	border-radius: 3px;
	padding: 5px;
	margin: 5px;
	white-space: nowrap;
	text-align: center;
}

.DADPW_drag_block:hover {
	background-color: #abcced;
}

.DADPW_drop_field .DADPW_drag_block {
	position: relative;
	display: inline-block;
	background-color: #d5e6f6;
	font-size: 16px;
	min-width: calc(100% - 4px);
	min-height: calc(100% - 4px);
	width: fit-content;
	height: fit-content;
	border-radius: 3px;
	padding: 5px;
	margin: 0px;
}

/* Touchscreen */
@media (hover: none) {

	.DADPW_drag_block,
	.DADTW_drag_block {
		min-width: 44px;
	}
}

.DADPW_drop_field.hover,
.DADPW_drop_field.hover .DADPW_drag_block,
.DADTW_drop_field.hover,
.DADTW_drop_field.hover .DADTW_drag_block {
	background-color: #abcced;
}

.DAD-blocks-container .DADPW_drag_block,
.DAD-blocks-container .DADTW_drag_block {
	vertical-align: top;
	transition: opacity 1s ease, top 1s ease, left 1s ease;
}

.DADPW_paragraph .DADPW_drop_field:first-child {
	margin-left: 0;
}

.DAD-blocks-container {
	min-height: 6rem;
	margin-top: 25px;
	padding: 10px 0 10px 10px;
	background-color: #f8fcff;
	border-radius: 5px;
	border: 1px solid #000;
	font-size: 16px !important;
	color: #000;
}

.DAD-options-title {
	margin: 5px;
	margin-bottom: 0 !important;
	font-weight: 600;
}

/* SELECTABLE OPTIONS */
/* images/mixed text-and-images container & cards */
.selectableOptionsGridContainer {
	display: grid;
	gap: 20px;
	grid-auto-flow: dense;
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	grid-auto-rows: 1px;
}

.selectableOptionCard {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 60px;
	width: 100%;
	padding: 10px;
	border-style: solid;
	border-radius: 10px;
	transition: background-color 0.3s;
}

/* text only mode container & cards */
.selectableTextOptionsGridContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.selectableTextOptionCard {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	padding: 10px 20px;
	margin: 10px;
	border-style: solid;
	border-radius: 10px;
	transition: background-color 0.3s;
}

/* cards' style */
.interactiveCard {
	cursor: pointer;
}

.selectableOptionCard:focus,
.selectableTextOptionCard:focus {
	outline: none;
}

.selectableOptionCard:focus-visible,
.selectableTextOptionCard:focus-visible {
	border-color: #FFA500 !important;
	border-width: 3px;
}

/* card content style */
.optionCardImage {
	display: inline-block;
	padding: 8px;
	max-width: 75%;
	object-fit: contain;
}

.optionParagraph {
	text-align: center;
	margin: 0 !important;
}

.textOnlyOptionParagraph {
	font-size: 1.1rem;
	text-align: left;
}

.imageOnlyOptionParagraph {
	font-size: 1.1rem;
}

.mixedTextAndImageOptionsParagraph {
	font-size: 1.1rem;
}

/* scoring icon marks */
.iconMarkText {
	margin: 0 !important;
	font-weight: 700;
	font-size: 1.1rem;
}

.iconMarkContainer {
	position: absolute;
	display: flex;
	top: -15px;
	right: -15px;
	background-color: white;
	width: 30px;
	height: 30px;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border-style: solid;
}

/* specific to light mode */
.interactiveCard:hover {
	background-color: #E4E4E4;
}

.selectedOptionCard {
	background-color: #A9EAFF !important;
}

/* PERIODIC TABLE */
.tableContainer {
	min-width: 1200px;
	display: grid;
	grid-template-columns: 40px repeat(18, minmax(60px, 1fr));
	grid-template-rows: 20px repeat(auto, 1fr);
	place-items: center;
}

.elementGrid {
	display: grid;
	grid-template-columns: subgrid;
	grid-template-rows: subgrid;
	grid-row: 2 / span 9;
	grid-column: 2 / span 18;
}

.elementGrid>div:nth-child(n+58):nth-last-child(n+50) {
	grid-row-start: 8;
}

.elementGrid>div:nth-child(n+90):nth-last-child(n+18) {
	grid-row-start: 9;
}

.elementGrid:before {
	display: block;
	content: '';
	grid-row: 8 / 10;
	grid-column: 1 / 4;
}

.elementContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	transition: background-color 0.3s;
	outline: none;
}

.tableKey {
	grid-row: 2 / span 2;
	grid-column: 4 / span 3;
}

.tableDynamicElement {
	grid-row: 2 / span 2;
	grid-column: 8 / span 2;
}

.elementMass {
	font-size: 12px;
	margin: 0px !important;
}

.dynamicElementMass {
	font-size: 16px;
	margin: 0px !important;
}

.elementSymbol {
	font-size: 20px;
	margin: 0px !important;
}

.dynamicElementSymbol {
	font-size: 24px;
	font-weight: bold;
	margin: 0px !important;
}

.elementName {
	font-size: 10px;
	margin: 0px !important;
}

.elementLongName {
	font-size: 8px;
	margin: 2px 0px !important;
}

.dynamicElementName {
	font-size: 18px;
	margin: 0px !important;
}

.elementNumber {
	font-size: 12px;
	margin: 0px !important;
}

.dynamicElementNumber {
	font-size: 16px;
	margin: 0px !important;
}

.invisibleElement {
	visibility: hidden;
}

.omittedElement {
	display: none;
}

.focusedElement {
	z-index: 1;
	outline: 1px solid #FFA500 !important;
}

.selectedElement {
	background-color: #124d60 !important;
	color: white
}

/* specific to light mode */
.exam-color {
	background-color: none;
	outline: 1px solid black;
	outline-offset: -0.5px;
}

.exam-color-hovered {
	background-color: lightgray;
}

.diatomic-nonmetal {
	background-color: #E2F4CD;
}

.diatomic-nonmetal-hovered {
	background-color: #C5E99B;
}

.noble-gas {
	background-color: #FCAFAF;
}

.noble-gas-hovered {
	background-color: #FF9292;
}

.alkali-metal {
	background-color: #f4e1b7;
}

.alkali-metal-hovered {
	background-color: #FFD16D;
}

.alkaline-earth-metal {
	background-color: #FBD4CB;
}

.alkaline-earth-metal-hovered {
	background-color: #FFBCAD;
}

.metalloid {
	background-color: #def7ff;
}

.metalloid-hovered {
	background-color: #D7E7ED;
}

.polyatomic-nonmetal {
	background-color: #A4EEEE;
}

.polyatomic-nonmetal-hovered {
	background-color: #4ADDDD;
}

.post-transition-metal {
	background-color: #E3E4FF;
}

.post-transition-metal-hovered {
	background-color: #D1D3FF;
}

.transition-metal {
	background-color: #BFE9FB;
}

.transition-metal-hovered {
	background-color: #80D4F6;
}

.lanthanide {
	background-color: #f7b6c9;
}

.lanthanide-hovered {
	background-color: #ff759f;
}

.actinide {
	background-color: #DAD3FC;
}

.actinide-hovered {
	background-color: #B5A7F9;
}

.unknown {
	background-color: #e3e3e3;
}

.unknown-hovered {
	background-color: #cccccc;
}