.selectableOptionsGridContainer {
    display: grid;
    gap: 20px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 2px;
}

.selectableOptionCard {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    padding: 0px 10px;
    border-style: solid;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.interactiveCard {
    cursor: pointer;
}

.interactiveCard:hover {
    background-color: #E4E4E4;
}

.selectableOptionCard:focus {
    outline: none;
}

.selectableOptionCard:focus-visible {
    border-color: #FFA500 !important;
    border-width: 3px;
}

.optionCardImage {
    display: inline-block;
    width: 100%;
    height: 80%;
    min-height: 200px;
    object-fit: contain;
}

.optionParagraph {
    text-align: center;
    margin: 0 !important;
}

.iconMarkText {
    margin: 0 !important;
}

.iconMarkContainer {
    position: absolute;
    display: flex;
    top: -15px;
    left: -15px;
    background-color: white;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border-style: solid;
}