html, body {
  width: 100vw;
  height: 100vh;
  background: #0e0e0e;
  overflow: hidden;
  scroll-behavior: smooth;
}

body {
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

a {
  text-decoration: none;
  color: #e5c4d6;
  font-size: 3.2vh;
  font-family: graphie;
}

h1, h2, h3 {
  color: #fcfaee;
  font-family: mr-eaves-modern;
  font-weight: 600;
  font-size: 6vh;
}

.zine-container {
  scroll-snap-type: y mandatory;
  width: 100vw;
  height: 100vh;
}

.zine-pane {
  scroll-snap-align: start;
  width: 100vw;
  height: 100vh;
  background: #0e0e0e;
}

.dpac-text {
  color: #e0e0e0;
  font-size: 2.4vh;
  font-family: objektiv-mk3;
}

.artist-name {
  font-family: graphie;
  font-size: 8vh;
  color: #fcfaee;
}

.pnoun-age {
  font-family: graphie;
  font-size: 3vh;
}

.statement {
  font-family: new-spirit, serif;
  font-size: 2.1vh;
  color: #e0e0e0;
}

.artist-link {
  font-family: mr-eaves-modern,sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 3.3vh;
  color: #c6c6c6;
}

.written-title {
  color: #fcfaee;
  font-family: mr-eaves-modern;
  font-weight: 700;
  font-size: 6vh;
}

.image-title {
  color: #fcfaee;
  font-family: mr-eaves-modern;
  font-weight: 700;
  font-size: 6vh;
}

.poem-body {
  color: #e0e0e0;
  font-family: eb-garamond, serif;
  font-size: 2.7vh;
}

.story-body {
  color: #e0e0e0;
  font-size: 2.7vh;
}

