.zine-container {
  scroll-snap-type: y mandatory;
  width: 100vw;
  height: 100vh;
}

.zine-pane {
  scroll-snap-align: start;
  width: 100vw;
  height: 100vh;
  background: #0e0e0e;
}

html, body {
  width: 100vw;
  height: 100vh;
  background: #0e0e0e;
  overflow: hidden;
  scroll-behavior: smooth;
}

body {
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

a {
  text-decoration: none;
  color: #E5C4D6;
  font-size: 20px;
}

h1, h2, h3 {
  color: #fcfaee;
}

p {
  color: #e0e0e0;
}

ul {
  color: #e0e0e0;
}

